body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex: 1 0 20%;
  background-color: palevioletred;
  margin: 0px;
}

.container{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1 0 80%;
  background-color: pink;
}


.nav-font{
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.first-section{
  display:flex; 
  flex-direction: column; 
  
}

.left-section{
  width:20%;
  align-items: center; 
}

.left-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.right-section{
  width:60%;
  display: flex;
  
}

.right-first{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-second{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.headline{
  font-size: 30px; 
  text-align: center;
  margin-bottom: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hobbies-section {
  height:50%;
  background-color: white;
  margin: 15px;
  padding: 10px;
}

.movies-section {
  height:50%;
  background-color: white;
  margin: 15px;
  padding: 10px;
}

.mbti-section {
  height:50%;
  background-color: white;
  margin: 15px;
  padding: 10px;
}

.music-section{
  height:50%;
  background-color: white;
  margin: 15px;
  padding: 10px;
}

.profile-image{
  margin-top: 25px;
  margin-bottom:25px;
}

.profile-font{
  font-size: 30px;
  margin-bottom:25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


table, td{
  width: 80%;
  text-align: center;
}

.movies-images{
  display:flex;
  justify-content: space-around;
}

.my-mbti{
  display:flex;
  flex-direction: column;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.mbti-image{
  width: 120px;
  margin-right: 10px;
  justify-content: space-around;
}


.music-position{
  display: flex;
  flex-direction: column;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

img{
  width: 80%;
}

.movies-size{
  width: 120px;
  margin-right:10px;
}

.music-size{
  width: 160px;
  text-align: center;
}






